/* Reset some default styles */
body, h1, h2, p, form, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 2% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
}

.back-button i {
    margin-right: 5px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

.alert-danger {
    position: relative;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.alert-danger i {
    position: absolute;
    top: 10;
    right: 10px;
    color: #721c24;
    font-size: 20px;
    cursor: pointer;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #292c30;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:  #292c30;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.specific-search-result {
    margin-top: 20px;
}

.specific-search-result h3 {
    color: #333;
    margin-bottom: 10px;
}

.specific-search-result p {
    color: #555;
    margin-bottom: 5px;
}
.btn_sub {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_sub:hover {
    background-color: #0056b3;
}

