{% load static %}
<html>
    <head>
        <title>exponentielle</title>
        <link rel="stylesheet" type="text/css" href="{% static 'choix_colonnes.css' %}" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>
        <a class="btn_sub" href="{%url 'app1-index'%}">Retour</a>
        <h1 style="text-align: center;">Loi exponentielle</h1>
        <form method="post" action="{% url 'afficher_exponentielle' %}" enctype="multipart/form-data">
                {% csrf_token %}
            <label for="rate_parameter">Rate Parameter (λ):</label>
            <input type="text" id="rate_parameter" name="rate_parameter" required>
            <br>
            <br>
            <button type="submit">Calculate</button> 
        </form>
        {% if error_message %}
            <p style="color: red; text-align: center;">{{ error_message }}</p>
        {% endif %}
    </body>
</html>
