{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcourir les données</title>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'parcourir.css' %}">
        <link href="{% static 'webfonts/all.min.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
    <div class="card1">
        <a class="btn_sub" href="{%url 'app1-upload_file'%}">Retour</a>
        <h2>Formulaire </h2>
        <form method="post" action="{% url 'parcourir_chart' %}" enctype="multipart/form-data" id="form_id">
            {% csrf_token %}
            {% if error_message %}
            <div class="alert alert-danger" style="position: relative; background-color: #f8d7da; color: #721c24; border-color: #f5c6cb; padding: 10px; border-radius: 5px; margin: 10px 0;">
                <i class="fas fa-times" style="position: absolute; top: 10; right: 10px; color: #721c24; font-size: 20px; cursor: pointer;" onclick="this.parentElement.style.display='none';"></i>
                {{ error_message }}
            </div>
        {% endif %}
            <select id="parcourir_chart" name="parcourir_chart">
                <option value="Nothing">-</option>
                <option value="FindElem">FindElem</option>
                <option value="Slicing">Slicing</option>
                <option value="GroupBy">GroupBy</option>
            </select>

            <select id="col_name1" name="col_name1">
                {% for col in column_names %}
                    <option>{{ col }}</option>
                {% endfor %}
            </select>

            <input type="number" placeholder="Le numero de la ligne :" id="RowNumb" name="RowNumb" min="0" max="{{ max_row }}" step="1">

            <select id="parcourir_rows" name="parcourir_rows">
                <option value="Nothing">Browse rows</option>
                <option value="NbrOfRowsTop">Number of rows from the top </option>
                <option value="NbrOfRowsBottom">Number of rows from the bottom</option>
                <option value="FromRowToRow">From x row to y row</option>
            </select>

            <input type="number" placeholder="Number of rows starting from the Top" id="Head" name="Head" min="0" max="{{ max_row }}" step="1">

            <input type="number" placeholder="Number of rows starting from the Bottom" id="Tail" name="Tail" min="0" max="{{ max_row }}" step="1">

            <input type="number" placeholder="From row number " id="FromRowNumb" name="FromRowNumb" min="0" max="{{ max_row }}" step="1">

            <input type="number" placeholder="To the row number " id="ToRowNumb" name="ToRowNumb" min="0" max="{{ max_row }}" step="1">

            {% for col in column_names %}
                <div class="form-check form-check-inline" id="colonne">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="selected_columns"
                        value="{{ col }}"
                        id="{{ col }}"
                    />
                    <label class="form-check-label" for="{{ col }}">
                        {{ col }}
                    </label>
                </div>
            {% endfor %}
          
           
            <select name="numeric_column" id="numeric_column" placeholder="Colonne Numérique :">
                {% for col in column_names %}
                <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            </select>
        
            
            <select name="condition" id="condition" placeholder="Condition :">
                <option value=">">Supérieur</option>
                <option value="<">Inférieur</option>
                <option value="=">Égal</option>
            </select>
        
            
            <input type="number" name="value" id="value" placeholder="Valeur :">
        
           
        
        <button type="submit">Envoyer</button>
    </form>
</div>

    <div class="specific-search-result">
        {% if resultat is not None %}
            <h3>Résultat de la recherche spécifique :</h3>
            <p>Valeur pour la colonne {{ col_name1 }} à la ligne {{ RowNumb }} : {{ resultat }}</p>
        {% endif %}
    </div>

    <div class="card">
        {% if df %}
            <h3>Résultats de la recherche :</h3>
            <div style="overflow-x: auto; overflow-y: auto; height: 550px;">
                <table>
                    {{ df|safe }}
                </table>
            </div>
        {% endif %}
    </div>

    <script>
        
        $(document).ready(function(){
            // Cacher les listes déroulantes au chargement initial de la page
            $('#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb, #ToRowNumb, #group_by_column, #numeric_column, #condition, #value, #colonne').hide();

            $('#parcourir_chart').change(function(){
                var selected_chart = $(this).val();
                console.log(selected_chart);  // Vérifier la valeur sélectionnée dans la console
                
                if (selected_chart === 'FindElem') {
                    $('#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne,#numeric_column, #condition, #value').hide();
                    $('#col_name1, #RowNumb').show(); 
                    

                } else if (selected_chart === 'Slicing') {
                    $('#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne,#numeric_column, #condition, #value').hide();
                    $('#parcourir_rows').show();

                    $('#parcourir_rows').change(function(){
                        var selected_chart_rows = $(this).val();
                        console.log(selected_chart_rows); 
                        if (selected_chart_rows === 'NbrOfRowsTop') {
                            $('#col_name1, #RowNumb  ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne,#numeric_column, #condition, #value').hide();
                            $('#Head ,#colonne,#parcourir_rows').show();
                            
                        } else if (selected_chart_rows === 'NbrOfRowsBottom') {
                            $('#col_name1, #RowNumb  ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne,#numeric_column, #condition, #value').hide();
                            $('#Tail , #colonne,#parcourir_rows').show();
                        }else if (selected_chart_rows === 'FromRowToRow') {
                            $('#col_name1, #RowNumb  ,#Head, #Tail ,#FromRowNumb,#ToRowNumb ,#colonne,#numeric_column, #condition, #value').hide();
                            $('#FromRowNumb,#ToRowNumb , #colonne,#parcourir_rows').show();
                        }
                        
                    });
                    

                }else if (selected_chart === 'GroupBy') {
                    
                    // Montrer les champs spécifiques à GroupBy
                    $(' #numeric_column, #condition, #value').show();
                    $('#col_name1, #RowNumb ,#parcourir_rows ,#Head, #Tail ,#FromRowNumb, #ToRowNumb, #group_by_column,#colonne').hide();
                }
            });
           
            $('#form_id').submit(function(event) {
                var selected_chart = $('#parcourir_chart').val();
                var valueInput = $('#value').val();
    
                if (selected_chart === 'GroupBy' && !valueInput) {
                    alert('Veuillez entrer une valeur.');
                    event.preventDefault(); // Empêche la soumission du formulaire
                }
            });  
            
        });
        
    </script>
    





</body>
</html>