{% load static %}

<html>
  <head>
      <title>Processed Data</title>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <a class="btn_sub" href="{%url 'app1-upload_file'%}">Retour</a>
    <h1 style="text-align: center;">Processed Data</h1>
    
    <form method="post">
      {% csrf_token %}
      <input type="text" name="search_input" placeholder="Search...">
      <button type="submit">Search</button>
    </form>

    <div style="margin-top: 8%" class="result-container">
      {{ df|safe }}
    </div>
  </body>
</html>
